body {
    font-family: "Roboto Slab", serif; 
    margin: 0;
    padding: 0;
    color:rgb(71, 70, 70);
    
}

header, section, footer, aside, article, figure {
    display: block;
}

.container {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.433);
    margin: 0 auto;
}

header {
    box-sizing: border-box;
    color: rgb(0, 115, 255);
    padding-top: 8em;
    padding-left: 0;
}

.content {
    box-sizing: border-box;
    padding-left: .8em;
    width: 100%;
    float:none; 
}

nav ul {
    text-align: center;
    list-style: none;
    margin-bottom: 1em;
    background-color: rgb(51, 118, 218);
    padding: 0;
}

nav li {
display: block;
}

nav a, nav a:link, nav a:visited {
    margin: auto;
    padding: 7em;
    display: block;
    width: 100%;
    text-decoration: none;
    background-color:rgb(51, 118, 218);
    color: white;
    border: 1px asolid white;
}

nav a:hover {
    background-color:rgb(43, 43, 148);
    color: white;
}

figure{
    margin-left: 0;
}

figcaption{
    font-size: 7em;

}

ul, ol, dl {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, p{
    box-sizing: border-box;
    margin: 0;
    padding: 0 .9em;
}

footer {
    padding: 1.5em;
    background-color: rgb(51, 118, 218);
    color: white;
    clear: both;
    margin-top: 10px;
}

footer p {
    font-size: 8em;
}

.image-left, .image-right {
    padding: 1em;
    width: auto;
    float: none
}

.sidebar {
    float: none;
    width: 100%;
    padding: 8em .5em;
    background-color: rgb(171, 197, 227);
    color:rgb(49, 49, 129)
}

.sidebar a {
    color:aliceblue
}

h1 {font-size: 2em;}

h1, h2, h3 {
    padding-left: 4em;
    font-family: 'cabin sketch', sans-serif;
}